    body {
      font-family: 'HelveticaNeue-Light';
    }
    .msg {
      margin: 10px 0;
      padding: 10px;
      width: 400px;
      background-color: #efefef;
    }
    #username, #post, #email, #password {
      display: block;
      margin: 5px 0px;
    }

    #postbtn {
      padding: 0.5em 1em;
      background-color: #50b1ff;
      border: none;
      color: #FFF;
    }

    #loginbtn, #logoutbtn, #signupbtn {
      padding: 0.5em 1em;
      background-color: #ff6d4e;
      border: none;
      color: #FFF;
      float: left;
    }

    #element1, #element2 {
      display:inline-block;
      margin-right:10px; 
      width:150px
    } 

    #element3 {
      display:inline-block; 
      width:150px
    } 
    