    body {
      font-family: 'HelveticaNeue-Light';
    }
    .msg {
      margin: 10px 0;
      padding: 10px;
      width: 400px;
      background-color: #efefef;
    }
    #username, #post, #email, #password {
      display: block;
      margin: 5px 0px;

      background-color: transparent;
      color: #2771e8;
      outline: none;
      outline-style: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid #eeeeee 1px;
      padding: 0px 10px;
      height:25px;
      width:300px;
    }

    #postbtn {
      padding: 0.5em 1em;
      background-color: #f95e71;
      border: none;
      color: #FFF;
      background-image: url(http://th07.deviantart.net/fs70/150/i/2013/012/c/6/rock_01_png___by_alzstock-d5r84up.png);
      background-repeat: no-repeat;
    }

    #loginbtn, #logoutbtn, #signupbtn {
      padding: 0.5em 1em;
      background-color: #ff6d4e;
      border: none;
      color: #FFF;
      float: left;
    }

    #element1, #element2 {
      display:inline-block;
      margin-right:10px; 
      width:100px
    } 

    #element3 {
      display:inline-block; 
      width:100px
    } 
    